@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
:root {
  --main-bg-color: #2874f0;
}

* {
  padding: 0;
  margin: 0;
}
body {
  width:auto;
  overflow-x: hidden;
  background: url(../images/bg.jpg);
}
header {
  background: var(--main-bg-color);
  font-family: "Lato", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: -120px;
}

.logo img {
  width: 80px;
  margin-left: -90px;
}

nav ul {
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 0 23px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  font-weight: bolder;
}

.search {
  display: flex;
  align-items: center;
  margin-left: -190px;
}
#search {
  outline: none;
}

.search input {
  width: 30vw;
  height: 27px;
  border-radius: 5px;
  margin: 0 16px 0 59px;
  padding-left: 12px;
  padding-right: 30px;
}

.search button {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
.fa-search {
  position: relative;
  right: -35.5vw;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 19px;
  color: black;
}
.Login-box {
  height: 803px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 100vw;
}
#box {
  font-family: "Playfair Display", serif;
  width: 240px;
  display: flex;
  border: orangered;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom: 3px solid orangered;
  padding: 0 30px;
  background: none;
  font-size: 20px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}
.Login-box input {
  outline: none;
  padding-left: 5px;
  border: none;
  display: flex;
  background: none;
  font-size: 20px;
}
form {
  display: block;
  margin: auto;
}
.Login-box h1 {
  position: relative;
  top: 80px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  border-bottom: 3px solid orangered;
  border-radius: 5px;
}
.Login-box input::placeholder {
  color: black;
}
#textarea {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}
#textarea p {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
textarea {
  font-family: "Playfair Display", serif;
  border: orangered;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom: 3px solid orangered;
  background: none;
  outline: none;
  border: 2px solid orangered;
  padding: 20px 0;
  margin-bottom: 10px;
}
.btn {
  font-weight: bold;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  justify-content: center;
  font-size: 19px;
  outline: none;
  background: none;
  border: 2px solid orangered;
  border-radius: 25px;
  width: 305px;
  color: white;
}
.btn:hover {
  color: rgb(255, 255, 255);
  background-color: grey;
  border: 2px solid black;
}
.last-box {
  background-color: rgb(27, 52, 216);
}
.footer {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
.footer ul li {
  padding: 5px 5px;
}
.footer ul li a {
  color: white;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.v {
  display: flex;
  align-self: center;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: cente;
}
.img {
  display: flex;
  flex-direction: row;
}
.img img {
  width: 80px;
}
.download img {
  margin: 5px 0;
}

.footer h1 {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.f-1,
.f-2,
.f-3,
.f-4 {
  padding: 30px 30px;
}
.w-5 {
  width: 32px;
}
.s-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0;
}
.twitter {
  color: blue;
}
.linkedin {
  color: white;
}
svg {
  padding: 0 5px;
}
.insta {
  color: darkviolet;
}


.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 15px;
}
.l-vline {
  width: 50px;
  background-color: white;
  height: 8px;
  margin: 4px 8px;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .Login-box h1 {
    position: relative;
    top: 0px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-family: "Playfair Display", serif;
    border-bottom: 3px solid orangered;
    border-radius: 5px;
  }
  form {
    display: block;
    margin: 0px;
}
  #box {
    font-family: "Playfair Display", serif;
    width: 45vh;
    display: flex;
    border: orangered;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom: 3px solid orangered;
    margin: 30px 0;
    background: none;
    font-size: 60px;
    justify-content: center;
    align-items: center;
  }
  .btn {
    padding: 5px 0;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    margin: auto;
  }
  .last-box {
    width: 200vw;
    position: relative;
    top: 100vh;
  }
}
